*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

/*SIDEBAR*/
#sidebar{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 50px;
    width: 5vw;
    height: 90vh;
    margin-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    background: linear-gradient(#B793C9, #A2BEDC);
    opacity: 80%;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
}
    .logo{
        margin-top: 20px;
    }
    .sideIcon{
        padding-top: 50px;
        margin-left: 6px;
    }
    .sideIcon img{
        height: 70%;
        width: 70%;
    }

/*BACKGROUND*/
#wrapper{
    height: 101%;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#4E499E, #042440);
}
#mainBG{
    margin-left: 13%;
    margin-right: 10%;
}

/*HEADER*/
.title{
    padding-top: 20px;
    margin-bottom: -15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
    font-size: 70px;
}
#header p{
    color: #A2BEDC;
    opacity: 70%;
    font-size: 14px;
    padding-left: 3px;
}

/*NAVIGATION*/
#navigation a{
    font-size: 22px;
    color: #D26B9D;
    padding-right: 100px;
    text-decoration: none;
    padding-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}
#navigation a:hover{
    color: #B793C9;
    text-shadow: white;
}

/* QUOTE */
.quote p{
    color: #A2BEDC;
    opacity: 80%;
    font-size: 1rem;
    font-family: "Waiting for the Sunrise", cursive;
    text-align: center;
    margin-bottom: 2rem;
}

/*NOTEBOOK*/
#notebook h2{
    color: #A2BEDC;
    font-size: 2rem;
    text-align: center;
    padding-top: 25px;
}
#notebook h1{
    padding: 0rem 17.5rem 2rem 17.5rem;
    margin-bottom: -10px;
    font-size: 60px;
    float: left;
    line-height: 50px;
    background-image: linear-gradient(#A9DFE2, #FDB3CA);
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
    width: 100%;
}


/* NOTEBOOK - BOOKMARK */
#bookmark{
    margin: 0.5rem 3rem 1rem 3rem;
}
#bookmark h4{
    background-color: #D26B9D;
    color: white;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 15rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(33, 6, 52, 0.096);
    box-shadow: 2px 2px 2px rgba(33, 6, 52, 0.304);
}
    #surveyForm label{
        color:white;
        opacity: 80%;
    }
    #surveyForm input, textarea{
        color:#4E499E;
        margin-bottom: 0.5rem;
    }
#title{margin-left:1rem; width: 20rem;}
#author{margin-left:2.5rem; width: 20rem;}
#chapt{margin-left:2rem; width: 20rem;}
#mark{margin-left:1rem; width: 20rem;}

.button input{
    margin: 0.5rem rem 1rem 15rem;
    width: 2.5rem;
}
#surveyForm{
    margin: 0.5rem 5rem 0.5rem 5rem;
}
#entries{
    color: #A2BEDC;
}

/* NOTEBOOK - ADDITIONAL NOTES */
#notes{
    margin: 0.5rem 3rem 1rem 3rem;
}
#notes h4 a{
    background-color: #D26B9D;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(33, 6, 52, 0.096);
    box-shadow: 2px 2px 2px rgba(33, 6, 52, 0.304);
    text-decoration: none;
}
#noted h4 a:hover{
    background-color: #9b3365;
    transition: 0.2s;
}
#notes p{
    margin-bottom: 1rem;
    color: white;
    opacity: 70%;
    font-size: 12px;
}


/*FOOTER*/
#footer{
    text-align: center;
}
.title2{
    padding-top: 20px;
    margin-bottom: -10px;
    color: white;
    font-size: 50px;
}
.info{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: -10px;
    color: white;
    font-size: 20px;
}
#footer p{
    color: #A2BEDC;
    opacity: 70%;
    font-size: 16px;
    padding-left: 3px;
}